<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeepAlive</key>
	<true/>
	<key>Label</key>
	<string>itech.redmine.unicorn</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/v/Projects/Ruby/Redmine/unicorn_init.sh</string>
		<string>start</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>UserName</key>
	<string>v</string>
	<key>WorkingDirectory</key>
	<string>/Users/v/Projects/Ruby/Redmine</string>
	<key>StandardErrorPath</key>
	<string>/Users/v/Projects/Ruby/Redmine/log/unicorn.log</string>
</dict>
</plist>
